/* ModalDelete, ModalCancel, Send, ReplySubmit, Update*/

.btn-style-1 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.75rem 1.25rem;
  height: 3rem;
  color: white;
  border: none;
  border-radius: 0.5rem;
  white-space: nowrap;
}

.modal-delete {
  background-color: hsl(358, 79%, 66%);
}

.modal-cancel {
  background-color: hsl(211, 10%, 45%);
}

.reply-alt,
.send,
.update {
  background-color: hsl(238, 40%, 52%);
}

.reply-alt:active,
.send:active,
.update:active {
  background-color: hsl(239, 57%, 85%);
}

/* Reply, Edit, Delete*/

.btn-style-2 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.75rem;
  background-color: transparent;
  border: none;
  border-radius: 0.5rem;
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
}

.reply,
.edit {
  color: hsl(238, 40%, 52%);
}

.reply:active,
.edit:active {
  color: hsl(239, 57%, 85%);
}

.delete {
  color: hsl(358, 79%, 66%);
}

.delete:active {
  color: hsl(357, 100%, 86%);
}

/* Plus and Minus*/

.vote {
  display: inline-flex;
  align-items: center;
  padding: 0.875rem;
  /* set border to none before production*/
  border: 1px solid transparent;
  background-color: hsl(228, 33%, 97%);
  color: hsl(211, 10%, 45%);
}

.vote:active {
  color: hsl(212, 24%, 26%);
}

.upvote {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.downvote {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.downvote svg {
  padding-top: 5px;
  height: 11px;
}

/* Media breakout */
@media only screen and (min-width: 768px) {
  .btn-style-1 {
    padding: 0.75rem 31px;
  }
  .upvote {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0;
  }

  .downvote {
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-top-right-radius: 0;
  }
}
