body {
  /* background-color: hsl(238, 40%, 52%);
  background-color: hsl(358, 79%, 66%);
  background-color: hsl(239, 57%, 85%);
  background-color: hsl(357, 100%, 86%);
  background-color: hsl(212, 24%, 26%);
  background-color: hsl(211, 10%, 45%);
  background-color: hsl(223, 19%, 93%); */
  /* background-color: hsl(228, 33%, 97%); */
  background-color: hsl(228, 33%, 97%);
  font-family: "Rubik", sans-serif;
}

.App {
  max-width: 768px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100%;
}
